input[type=text],input[type=password]{
    border: none;
    outline: none;
    /* height:30px; */
    /* margin-left: 10px; */
}
.secn_inp{
    width:100%;
    background:#f7f7f7;
    padding-top: 25px;
}
#forms{
    width:1000px;
    margin:auto;
    border:1px solid red;
    border-radius: 5px 5px 5px 5px;
    border:1px solid #d6d6d6;
    background:#ffffff;
    height:600px;
}
.secn_h3{
    width:120px;
    height:25px;
    border-left:6px solid #f55643;
}
.secn_h3 h3{
    margin-left: 15px;
    color:#4b5358;
}
.sec_div{
    margin:70px 0 0 300px;
}
.commontxt{
    width: 290px;
    height:36px;
    line-height: 36px;
    border-radius: 10px;
    box-shadow: cadetblue;
    border: 1px solid cadetblue;
}
.c_jym{
    width:290px;
    overflow: hidden;
    margin-top: 18px;
}
.c_top{
    margin-top: 18px;
}
.txt_Code{
    width:165px !important;
    float: left;
}
.img_Code{
    float: left;
}
.img_Code a{
    display:block;
    width:97px;
    height:36px;
    border: 1px solid cadetblue;
    border-radius: 8px;
    margin-left:23px;
    text-align: center;
    line-height: 36px;
    font-size: 15px;
    cursor:pointer;
}
.zhuce{
    width: 290px;
    margin-top: 18px;
}
.zhuce input{
    border: none;
    outline: none;
    width: 290px;
    height:36px;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
    background: red;
}
.code{
    width:120px;
    height: 36px;
    text-align: center;
    line-height: 36px;
}
.code span{
    margin-left: 10px;
    font-size: 20px;
}
@-webkit-keyframes fade{
    0%,100%{
        opacity:1;
    }
    50%{
        opacity:0.6;
    }
}
@-webkit-keyframes rotateIn{
    0%{
        transform:translate(800px,-800px);
    }
    100%{
        transform:translate(0);
    }
}
.header{
    height: 76px;
    border-bottom: 1px solid #cecfcf;
    box-shadow: 0 0 5px #cecfcf inset;
}
.header_wrap{
    width: 1000px;
    height: 100%;
    min-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.logo{
    margin-top: 13px;
    float: left;
}
.logo img{
    width: 132px;
    height: 52px;
}

.search{
    background: url("../img/image/search.png") no-repeat;
    width: 42px;
    height: 40px;
    margin-top: 28px;
    margin-right: 15px;
    float: right;
}
.search:hover{
    transform: scale(1.1);
}
.logo:hover img{
    animation:fade 1s ease-in infinite;
}

.header_wrap ul{
    float: left;
    padding: 28px 0 0 40px;
    list-style: none;
}
.header_wrap ul li{
    float: left;
    padding: 0 25px;
    font-size: 20px;
}
.header_wrap ul a{
    color: #0f0f0f;

}
a{
    text-decoration: none;
}
.header_wrap ul a:hover{
    color: #ff3c3c;
}
.header_wrap .on a{color:#fe5341;}
.regist{
    float: right;
    margin-top: 23px;
    font-size: 16px;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #fe5314;
    border-radius: 3px;
    color: #fe5314;
}
.regist:hover{
    transition: all 0.2s linear;
    background-color: #fe5314;
    color: #fff;

}
/* 底部 */

.foot_box{
    width: 100%;

    background: #505050;
    color: #a3a3a3;
    padding: 40px 0 15px;
}
.foot{
    width: 1000px;
    min-width: 1000px;
    text-align: left;
    margin: 0 auto;
    overflow: hidden;
}
.foot dl{
    float: left;
    font-size: 13px;
    line-height: 20px;
}
.foot dl:nth-child(1) img{
    width: 160px;
    height: 160px;
}
.foot dl dt{
    color: #fff;
    font-size: 16px;
    padding-bottom: 25px;
}
.foot dl:nth-child(2){
    width: 140px;
    padding-left: 22px;
}
.foot dl:nth-child(2) dd:last-child {
    margin-top: 13px;
}
.foot dl:nth-child(3){
    width: 100px;
    padding-left: 22px;
}
.foot a{
    color: #a3a3a3;
}
.foot dl:nth-child(4){
    width: 140px;
    padding-left: 22px;
}
.foot dl:nth-child(4) dd a {
    display: inline-block;
    width: 69px;
}
.foot dl:nth-child(5){
     width: 148px;
     padding-left: 22px;
}
.foot dl:nth-child(6){
    width: 180px;
    padding-left: 22px;
}
.foot .copy{
    text-align: center;
    padding-top: 290px;
    font-size: 13px;
}